.header{
    background-color: black;
    text-align: center;
    position: relative;
    color: rgba(206, 34, 34);
    margin-bottom: 10px;
    
    // font-size: 20px;
    @media screen and (max-width: 575px) {
       font-size: 22px;
      }
    >button {
        color: red($color: #000000);
        background-color: blue($color: #000000);
        position: absolute;
        right: 10px;
        font-size: 32px;
    }
}