.myTeamDiv{

    //    @media screen and (max-width: 991px) {
    //     .myTeamDiv{
    //         position: fixed;
    //         bottom: 0;
    //         // z-index: 11;
    //     }
    // }
    
    >.myTeam{
        background-color: black;
        margin-top: 55px;
        margin-left: 0;
        padding: 10px 0 0 10px;
        position: relative;
        @media screen and (max-width: 991px) {
            margin-top: 0px;
        }
        h3{
            color: rgba(206, 34, 34);
            @media screen and (max-width: 575px) {
                font-size: 22px;
            }
        }
        >svg{
            position: absolute;
            top: 8px;
            right: 0;
            color: rgba(206, 34, 34);
            width: 70px;
        }
    }
}