#cardSearch{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: rgba(206, 34, 34);
    height: 100%;

    >.name{
        text-align: center;
    }
    
    >span{
        // padding-top: 5px;
    } 
    >img{
        width: 80%;
    }
    >div{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            margin: 5px 5px 10px 5px;
            border-radius: 20px;
            // padding: 5px;
            width: 35%;
            background-color: cadetblue;
        }
    }
    .btnLeft{
        border-radius: 0 15px
    }
    .btnRight{
        border-radius: 15px 0
    }


}